<?xml version="1.1"?>
<launch>
    <!-- === Static TFs for ultrasonic sensors === -->

    <!-- Left sensor: 17 cm forward, 7.5 cm to the left, angled 45° left -->
    <node pkg="tf" type="static_transform_publisher" name="ultrasonic_left_tf"
          args="0.27 0.075 0 0 0 0.785 base_link ultrasonic_left_frame 10"/>

    <!-- Center sensor: 23 cm forward, facing straight -->
    <node pkg="tf" type="static_transform_publisher" name="ultrasonic_center_tf"
          args="0.23 0 0 0 0 0 base_link ultrasonic_center_frame 10"/>

    <!-- Right sensor: 27 cm forward, 7.5 cm to the right, angled 45° right -->
    <node pkg="tf" type="static_transform_publisher" name="ultrasonic_right_tf"
          args="0.27 -0.075 0 0 0 -0.785 base_link ultrasonic_right_frame 10"/>
</launch>